.container{
    margin: auto;
    width: 90%;
    background: #FFE7AD;
    min-height: 800px;
    text-align: center
}
.big{
    margin: auto;
    display: flex;
    justify-content: center 
}
.type select,.Subject select{
    width: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 20px;
}
.Subject,.type{
    float: left;
    margin: 50px;
    text-align: center;
}
input[type="submit"]{
    min-width:80px ;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    font-weight: bolder;
    background: #fff;
    border: 2px solid #000;
    border-radius: 7px;
    max-height: 40px;
}
input[type="submit"]:hover{
    background : red;
    color: white;
    cursor: pointer
}
.clear{ clear: both}